/* Additional styles for my presentations */
#logo img {
	max-height: 4%;
}
.reveal {
	tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	-webkit-tab-size: 2;
}
.reveal footer {
	position: fixed;
	bottom: 2px;
	right: 10px;
}
.reveal li {
	margin-bottom: 1em;
}
.reveal p {
	line-height: 1.4em;
	margin-bottom: 1em;
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	margin-bottom: 0.5em;
}
.reveal .lower h1, .reveal .lower h2, .reveal .lower h3, .reveal .lower h4, .reveal .lower h5, .reveal .lower h6 {
	text-transform: none;
}
.reveal .controls {
	bottom: 20px;
}
.reveal footer p {
	line-height: 0.3em;
	font-size: 25%;
}
.reveal blockquote {
	background: white;
	border: 1px solid black;
}

.reveal .twocol {
	float: left;
	width: 50%;
	text-align: left;
}

.reveal .twocol p {
	padding-left: 1em;
}

/* I know this is evil, it's okay I swear, be cool */
#twitter-widget-0 {
	margin: 10px auto !important;
}
